{% extends "base.html" %}
{% block title %}User Change{% endblock %}

{% block content%} <h1> Account Management</h1>

    <!-- Displaying the user information-->
    <br><br>
    <div class="form-row align-items-center">
        <div class="col-auto">
          <label>User ID</label>
          <input type="text" value = "{{usr.id}}" readonly>
        </div>
        <div class="col-auto">
            <label>Username</label>
            <input type="text" value = "{{usr.username}}" readonly>
          </div>
          <div class="col-auto">
            <label>User Status</label>
            <input type="text" value = "{% if usr.user_status == 0 %}Deactivated{% elif usr.user_status == 1%}User{% elif usr.user_status == 2%}Admin{% endif %}" readonly>
          </div>
      </div>
      <div class="form-row align-items-center">
        <div class="col-auto">
            <label>First Name</label>
            <input type="text" value = "{{usr.fname}}" readonly>
          </div>
          <div class="col-auto">
            <label>Last Name</label>
            <input type="text" value = "{{usr.lname}}" readonly>
          </div>
      </div>

      <!-- Allowing the admin to submit a password change, their password, and the-->
      <!-- ability to change the user status to disabled, user, or admin-->
    <br /><br /><br />
        <form method="POST">
            <h5 align="left"> Change User Password or Account Status </h5>
            <div class="form-group">
                <label for="password1"> New User Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password1"
                    name="password1"
                    placeholder="Enter new password"
                />
            </div>
            <div class="form-group">
                <label for="password2"> Confirm User Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="password2"
                    placeholder="Confirm new password"
                />
            </div>
            <br />
            <div class="form-group">
                <label for="currentpwd"> Enter Admin Password </label>
                <input
                    type="password"
                    class="form-control"
                    id="currentpwd"
                    name="currentpwd"
                    placeholder="Enter Admin password"
                />
            <br />
            </div>
            <div class="form-row align-items-center">
                <div class="col-2">
                <label for="status">Status</label>
                <select id="status" class="form-control" name="status">
                    {% if usr.user_status == 2 %}
                    <option value='0'>Deactivated</option>
                    <option value='1'>User</option>
                    <option value='2'selected>Admin</option>
                    {% elif usr.user_status == 1 %}
                    <option value='0'>Deactivated</option>
                    <option value='1' selected>User</option>
                    <option value='2'>Admin</option>
                    {%else%}
                    <option value='0' selected>Deactivated</option>
                    <option value='1'>User</option>
                    <option value='2'>Admin</option>
                    {%endif%}
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
        </form>

{%endblock%}