{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%} <h1 align="center">Tickets</h1>
 
    <br />
    <br />
    <h4 align="left"> Search tickets </h4>
    <form method="POST">
        <!-- displaying the search terms-->
        <div class="form-row">
          <div class="col-6">
            <label for="TicketID">Ticket #</label>
            <input type="text" class="form-control" id="TicketID" name="TicketID" placeholder="# or #-#">
          </div>
          <div class="col-6">
            <label for="status">Status</label>
            <select id="status" class="form-control" name="status">
                <option value='0'>Closed</option>
                <option value='1' selected>Open</option>
                <option value='2' >All</option>
            </select>
        </div>
          
        </div>

        <div class="form-row">
            <div class="col-6">
                <label for="start_date">Start date</label>
                <input type="text" class="form-control" id="start_date" name="start_date" placeholder="YYYY-MM-DD or YYYY-MM-DD HH:MM:SS" >
              </div>
              <div class="col-6">
                  <label for="end_date">End date</label>
                  <input type="text" class="form-control" id="end_date" name="end_date" placeholder="YYYY-MM-DD or YYYY-MM-DD HH:MM:SS">
              </div>
        </div>
        <br>
        <div align="right">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

      </form>
    <!--Runs through each ticket and prints a list item for them and presents a button to open their page-->
    <h3> Current Tickets</h3>
    <br>
    <ul class="list-group list-group-flush" id="tickets">
        {% for ticket in tickets%}
        
        <div class='message' style=display:inline;>
            {% if ticket.status == 0 %}
                <h6><a href="/ticket/{{ticket.id}}" class="btn btn-primary" onClick="" style="height:35px; width:600px" > Ticket: {{ ticket.id }}---{{ticket.short_description}} </a>{{'Closed - Opened: ' + ticket.creation_date.strftime("%m/%d/%Y, %H:%M:%S") + ' Closed: ' + ticket.close_date.strftime("%m/%d/%Y, %H:%M:%S")}}</h6>
            {% elif ticket.status == 1%}
                <h6><a href="/ticket/{{ticket.id}}" class="btn btn-primary" onClick="" style="height:35px; width:600px" > Ticket: {{ ticket.id }}---{{ticket.short_description}} </a>{{'Open - Opened: ' + ticket.creation_date.strftime("%m/%d/%Y, %H:%M:%S")}}</h6>
            {% endif %}
            
            <br>
        </div>
        
        {% endfor%}
    </ul>


{%endblock%}

